<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:vackgroundColor="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:strong="http://www.w3.org/1999/xhtml"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Vue Index Page</title>
    <link href="css/vueMain.css" rel="stylesheet">
</head>
<body>
<h2>Vue Index Page</h2>
<div id="app">
    <h3>{{ message }}</h3>
    <!-- Vue 객체에 있는 message의 길이를 산출-->
    <p>{{  message.length  }}</p>
    <p>{{  list[2]  }}</p>
    <p>{{  list[num]  }}</p>
    <ol>
        <!-- Vue 객체가 가지고 있는 list에서 정보를 뽑아와서
            item에 설정하고 각각의 item들을 출력한다. -->
        <!-- 파이썬 문법과 비슷 range -->
        <!-- 이 내용들을 표현하기 위해서 script에 정보를 입력해줘야 함-->
        <li v-for="item in list">{{ item }}</li>
    </ol>
    <button v-on:click="handleClick">Click</button>
    <input v-model="initMsg"><br><br>
    <!-- 11. 캐릭터 이름, 레벨, 상태, HP, ATK, DEF 표시-->
    캐릭터명: <input v-model="characterName"><br>
    레벨: <input v-model="characterLv"><br>
    상태: <input v-model="characterStatus"><br>
    HP: <input v-model="characterHp"><br>
    Atk: <input v-model="characterAtk"><br>
    Def: <input v-model="characterDef"><br>

    <p>{{ initMsg }}</p>
    <!--로그인 했을 때와 안했을 때 (기본 페이지 보이게) 페이지를 다르게 해줄 수 있음.
        누르면 보였다 안보였다 할 수 있음.-->
    <button v-on:click="show=!show">Change</button>
    <!--애니매이션 기능 추가, static의 css에 2초간 깜빡거리는 코드 추가  -->
    <transition>
        <p v-if="show">Show Time!</p>
    </transition>
    <p>{{  count }}번 클릭했다!</p>
    <button v-on:click="increment">Count</button>
    <button v-on:click="isActive=!isActive">
        Change Mode
    </button>
    <p v-bind:class="{child: isChild, 'is-active': isActive }" class ="item">
        Dynamic Class
    </p>
    <p v-bind:style="{color: textColor, backgroundColor: bgColor }" class="item">
        Dynamic Style
    </p>
    <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
        <circle v-bind:r="radius" fill="lightblue" cx="100" cy="75"/>
    </svg>
    <input type="range" min="0" max="100" v-model="radius">
    <br>

    <p>캐릭터명: {{  characterName  }} &nbsp;&nbsp;&nbsp; 경험치:{{  curExp  }}/{{ needExp }}</p>
    <p>레벨: {{  characterLv  }}</p>
    <p>상태: {{  characterStatus  }}</p>
    <p>HP: {{  characterHp  }}</p>
    <p>ATK:{{  characterAtk  }}</p>
    <p>DEF: {{  characterDef  }}</p>

    이름
    <input v-model="monsterName">
    <!-- Vue는 객체의 변화를 감지하면 HTML을 다시 랜더링 한다.
         member : data-->
    <button v-on:click="addMonster">Add Monster</button>
    <ul>
        <li v-for="(item, index) in monster"
            v-bind:key="item.id" v-if="item.hp">
            ID.{{ item.id}} {{ item.monsterName  }} HP:{{ item.hp  }}
            <span v-if="item.hp > 300">Strong</span>
            <span v-if="item.hp< 50">>Morbidity</span>
            <button v-on:click="doRemove(index)">
                Delete Monster
            </button>
            <button v-on:click="doAttack(index)">Attack</button>
        </li>
        <li v-for="(item, index) in monster"
            v-bind:key="item.id">
            ID:{{ item.id}} {{ item.monsterName  }} HP:{{ item.hp  }}</li>
    </ul>
</div>
<script src="https://unpkg.com/vuex@2.0.0"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10"></script>
<script>
        // 새로운 Vue 객체를 생성한다.
        // Vue를 사용하면 모든 처리가 페이지 하나에서 이루어지는 싱글페이지가 가능해짐.
        // HTML, CSS도 재활용성을 극대화시키자!가 주 목적임
        // 프론트쪽이긴 한데
        var app = new Vue({
            // id가 app임을 나타낸다.
            el: '#app',
            // 그리고 Vue 객체가 가지고 있는 데이터
            data: {
                // data는 변수에 넣어야 함
                // 변수(message): 변수에 어떤 내용이 들어있는가
                message: 'Hello Vue.js',
                initMsg: 'Initial Message',
                // 이것을 표현해주려면 Vue 객체에도 데이터 정보가 있어야 함.
                // 배열을 만들어주는 것은 다음과 같이 써주면 됨.(Vue 객체를 만들어 줌.)
                list: ['apple', 'banana', 'cherry'],
                show: true,
                num: 1,
                count: 0,
                isChild: true,
                isActive: true,
                textColor: 'red',
                bgColor: 'lightgray',
                radius: 50,
                monster: [
                    { id: 1, name: 'Slime', hp:10 },
                    { id: 2, name: 'Goblin', hp:20 },
                    { id: 3, name: 'Dragon', hp:5000 }
                ],
                monBook: [
                    {monsterName: 'Slime', exp: 1 },
                    {monsterName: 'Goblin', exp: 2 },
                    {monsterName: 'Chimera', exp: 250 },
                    {monsterName: 'Dragon', exp: 100000 }
                ],
                monsterName: 'Chimera',
                characterName: '',
                characterLv: 1,
                characterStatus: '',
                characterHp: 100,
                characterAtk: 10,
                characterDef: 1,
                curExp: 0,
                needExp: 10
            },
            methods: {
                handleClick: function(event) {
                    alert(event.target)
                },
                increment: function() {
                    this.count += 1
                },// max 아이디 찾아서 중복안되게
                addMonster:function() {
                    // monstser 배열에서 최대값을 찾기 위한 작업
                    // reduce를 통해 각각의 원소에 있는 모든 값들을 검사함
                    // 최종적으로 id값 중최대값을 획득하게 된다.
                    // 삼항 연산자
                    var max = this.monster.reduce(function(a, b) {
                        return a > b.id ? a : b.id
                    }, 0)
                    // push를 통해서 monster배열에 새로운 내용을 추가한다.
                    this.monster.push({
                      id: max + 1,
                      name: this.monsterName,
                      hp: 100
                 })
            },
            doRemove:function(index) {
                this.monster.splice(index, 1)
            },
            doAttack: function(index) {
                this.monster[index].hp -= this.characterAtk
             }
           },
           beforeCreate: function() {
                alert('Before Create: '+ this.monster[3].hp)
           },
           created:function() {
                alert('Created: '+ this.monster)
           },
           beforeMount: function () {
                 alert('Before Create: '+ this.monster)
           },
           mounted: function () {
                 alert('Created: '+ this.monster)
           },
           // Vue 변화를 감지하면 다시 랜더링
           //
           beforeUPdate: function () {
                 alert('Before Create: '+ this.monster)
           },
           updated: function () {
                 alert('Created: '+ this.monster)
           },
           beforeDestory: function() {
                 alert('Before Create: '+ this.monster)
           },
           destoryed: function () {
                alert('Created: '+ this.monster)
           }
        })
    </script>
</body>
</html>

<!--
1. 캐릭터 이름, 레벨, 상태, HP, ATK, DEF 표시
2. 경험치바 만들기 예) 110 / 150
3. 몬스터에 경험치 추가
4. 몬스터 잡으면 레벨업 기능을 추가해보자!
-->